# This file is used by the build system to adjust CSS and JS output for older browsers.
# https://github.com/browserslist/browserslist#readme

last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Safari versions
last 2 iOS versions
last 2 Opera versions

# Android support - includes Huawei browser
Chrome >= 60
Android >= 7
Samsung >= 10

# Broader support for older devices
> 0.5%
not dead
